<!DOCTYPE html>
<html>
<head>
    <title>Throw Words</title><button class="btn btn-default" id="play">Play!</button>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Archivo+Narrow:700italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Play:700' rel='stylesheet' type='text/css'>
    <!-- jQuery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Underscore -->
    <script src="/vendor/underscore/underscore-min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- ToEat.ly -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/app.js"></script>
</head>

<body>
<div class="text-center" id="title1">THROW</div>
<h1 class="text-center" id="title2">WORDS</h1>
<div class="container" id="catchphrasecontainer">
    <div class="container">
        <div class="row">
            <div class="span4 collapse-group">
                <div class="container collapse">
                    <ul id="catchphrases">
                    </ul>
                </div>
                <div class="row">
                    <p  class="black-background"><a class="btn important" id="view-throw-words">View Throw Words &#9652;</a><a type="button" class="btn" id="toggle-definitions">
                        <span class="toggles important">Definitions On &#9679;</span><span class="toggles important" id="def-off" style="display: none">Definitions Off &#9675;</span></a></p>
                </div>
            </div>
        </div>
        <form class="form-inline text-center" id="new-phrase-form">
            <input name="word" type="text" class="form-control" id="word-input" placeholder="word">
            <input name="definition" type="text" class="form-control" id="definition-input" placeholder="definition">
            <button type="submit" class="btn btn-default">Add Throw Word!</button>
        </form>
    </div>
</div>


<div>
    <a name="stop-here"></a>
</div>

<div id="game-wrapper">

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>
    <div class="modal fade bs-example-modal-lg in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: block">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="container" id="instructions">
                    <h2>Objective Of The Game</h2><br>
                    <p>Guess more Throw Words® than your opposing team before both timers run out!</p>
                    <h2>How To Play</h2><br>
                    <p>Every turn a team will have a <b>guesser</b>. If your guesser says the Throw Word® press ENTER to get the <b>point</b>. It will then be the other teams turn.
                        The guesser will now <u>quickly</u> rotate with another member of their team, and will be they will be the guesser of their next turn.
                        The <u>guesser</u> can opt to <b>pass</b> in order pause their team's timer. <u>However,</u> the other team
                        has the chance to get the <b>point</b>. In the event both team's guessers pass <b>consecutively</b>, neither team will get the point and
                        the next Throw Word® will appear on screen.</p>
                    <h2>Rules of the game</h2><br><br>
                    <p>Team's can guess <b>as long as their is on their clock</b>. If a team's clock has reached 0, the other team may keep guessing until their clock has
                        run out as well, or simply choose to pass and end the game. Team's describing the Throw Word® may <b>not</b> say things along the lines of, "It rhymes with..." and "It sounds like...".
                        Teams may charade individually or as one team if they wish. Keep it fair. House rules are welcome.</p>

                    <h2>The winner</h2>

                    <p>The winner of the game is whoever has the <b>most points</b> when both team's clocks reach 0.</p>

                    <div class="row text-center">
                        <button class="btn btn-default" id="play-button">Ready</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="game-container" class="container">
        <div class="row" id="score-row">
            <div class="img-circle"><p id="small-throw">Throw</p><p id="small-word">Word</p></div>
                <!--<div class="container">-->
                    <div id="scoreboard-wrapper" class="row">
                        <div id="left-wrapper" class="col-xs-6 text-center score">
                            <p id="score1" class="team-score">
                                Team 1
                                <br>
                        <span class="score-num" id="team-one-score">
                            0
                        </span>
                            </p>
                            <br>
                            <span id="countdown1" class="timer" style="display: none"></span>
                        </div>
                        <div id="right-wrapper" class="col-xs-6 text-center score">
                            <p id="score2" class="team-score">
                                Team 2
                                <br>
                            <span class="score-num" id="team-two-score">
                                0
                            </span>
                            </p>
                            <br>
                            <span id="countdown2" class="timer" style="display: none"></span>
                        </div>
                    </div>
                <!--</div>-->
            </div>
        <div class="text-center" id="word-container">
            <div class ="row" id="word-background">
                <div id="word">
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/template" id="cp-template">
    <li class="list-group-item">
        <span class="label label-default"><%= word %></span>
        <div id="<%= word %>"><%= definition %>
            <!-- button w/ registered onclick function -->
            <button data-id="<%= _id %>" onclick="deletePhrase(this)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </li>
</script>
</body>