<!DOCTYPE html>
<html>
<head>
    <title>Throw Word</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Archivo+Narrow:700italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Play:700' rel='stylesheet' type='text/css'>
    <!-- jQuery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Underscore -->
    <script src="/vendor/underscore/underscore-min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- ToEat.ly -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/app.js"></script>
</head>
<body>
<div class="text-center" id="title1">THROW</div>
<h1 class="text-center" id="title2">WORD</h1>
<div class="game-container">
    <div class="container" id="catchphrasecontainer">
        <form class="form-inline text-center" id="new-phrase-form">
            <input name="word" type="text" class="form-control" id="word-input" placeholder="word">
            <input name="definition" type="text" class="form-control" id="definition-input" placeholder="definition">
            <button type="submit" class="btn btn-default">Add Throw Word!</button>
        </form>
        <div class="container">
            <div class="row">
                <div class="span4 collapse-group">
                    <div class="container collapse">
                        <ul id="catchphrases">
                        </ul>
                    </div>
                    <div class="row">
                        <p><a class="btn important" id="view-throw-words">View Throw Words &#9652;</a><a type="button" class="btn" id="toggle-definitions">
                            <span class="toggles important">Definitions On &#9679;</span><span class="toggles important" id="def-off" style="display: none">Definitions Off &#9675;</span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 container" id="score-row">
        <div class="img-circle"><p id="small-throw">Throw</p><p id="small-word">Word</p></div>
        <div class="col-md-6 text-center score">
            <div><p id="score1" class="team-score">Team 1</p><br>
                <div class="col-xs-6 text-right">
                    <img class="greenthumb" src="http://www.clipartbest.com/cliparts/dT8/Kek/dT8Kek6Te.png">
                </div>
                <div class="col-xs-6 text-left">
                    0
                </div><br>
                <div class="col-xs-6 text-right">
                    <img class="redthumb" src="http://www.cliparthut.com/clip-arts/1526/red-thumbs-down-icon-1526417.png">
                </div>
                <div class="col-xs-6 text-left">
                    0
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 clock">
                    <span id="countdown1" class="timer" style="display: none"></span>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center score">
            <div><p class="team-score" id="right-side-title">Team 2</p><br>
                <div class="col-xs-6 text-right right-side">
                    <img class="greenthumb" src="http://www.clipartbest.com/cliparts/dT8/Kek/dT8Kek6Te.png">
                </div>
                <div class="col-xs-6 text-left right-side">
                    0
                </div><br>
                <div class="col-xs-6 text-right right-side">
                    <img class="redthumb" src="http://www.cliparthut.com/clip-arts/1526/red-thumbs-down-icon-1526417.png">
                </div>
                <div class="col-xs-6 text-left right-side">
                    0
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 clock">
                        <span id="countdown2" class="timer" style="display: none"></span>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            <span id="countdown2" class="timer" style="display: none"></span>
        </div>
        <div class="col-lg-12 container text-center">
            <button class="btn btn-default" id="play-button">Play!</button>
        </div>
    </div>

    <div class="container text-center" id="word-container">

        <div class ="row" id="word-background">
            <div class="col-lg-12 jumbotron" id="word">
            </div>
        </div>
    </div>

</div>
<script type="text/template" id="cp-template">
    <li class="list-group-item">
        <span class="label label-default"><%= word %></span>
        <div id="<%= word %>"><%= definition %>
            <!-- button w/ registered onclick function -->
            <button data-id="<%= _id %>" onclick="deletePhrase(this)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </li>
</script>
</body>