html, body{
    height: 100% ;
}

#game-wrapper {
    background-color: rgb(116, 186, 243);
    height: 1300px;
    border-top: 1px solid black;
    color: rgb(53, 51, 51);
    font-style: normal;
}

#play {
    background-color: rgb(255, 223, 160);
    font-size: 22px;
    position: relative;
    left: 1275px;
    top: 110px;
    width: 120px;
    height: 45px;
    border: 0;
}

#title1 {
    font-family: 'Archivo Narrow', sans-serif;
    font-style: italic;
    line-height: .3;
    font-size: 100px;
    padding-top: 40px;
    margin-top: 100px;
    margin-right: 400px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #333333;
    color: white;
    top: 10px;
    position: relative;
    right: 100px;

}

#title2 {
    font-family: 'Archivo Narrow', sans-serif;
    font-style: italic;
    margin-left: 200px;
    color: #333333;
    height: 450px;
    font-size: 324px;
    top: 28px;
    position: relative;
}

.important {
    color: rgb(238, 238, 238);
}

.toggles.important {
    position: relative;
    bottom: 5px;
    display: inline;
}

#def-off {
    position: relative;
    bottom: 5px;
}

/*.modal {
    position: absolute;
    top: 100%;
}*/

#word-container {
    display: table;
    width: 100%;
    position: relative;
    padding-top: 10px;
}

#word-background {
    background-color: silver;
    padding-top: 30px;
    width: 100%;
    padding-bottom: 30px;
    border-radius: 10px;
    margin: 0;
}

#word {
    font-family: 'Play', sans-serif;
    font-size: 54px;
    background-color: gray;
    height: 80px;
    width: 80%;
    text-align: center;
    position: relative;
    margin: 0 auto 0;
}

#toggle-definitions {
    height: 40px;
    padding-top: 10px;
    float: right;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

#catchphrasecontainer {
    height: 200px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#catchphrases {
    height: 200px;
    overflow-y: scroll;
    padding-right: 40px;
    margin-bottom: 0px;
}

span.label.label-default {
    background-color: rgb(255, 223, 160);
    color: gray;
}

#new-phrase-form {
    margin-right: 30px;
    width: inherit;
    padding-bottom: 3px;

}

#instructions {
    background-color: #F5F3F3;
    border: 1px solid black;
    z-index: 4;
    top: 100%;
    height: 700px;
    position: absolute;
    width: 900px;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.timer {
    font-size: 40px;
    color: white;
    background-color: rgba(6, 6, 6, 0.67);
    position: relative;
    border-radius: 3px;
    width: 240px;
}

#score-row {
    height: 700px;
    margin-top: 10%;
    padding-top: 0px;
}

#scoreboard-wrapper {
    height: 400px;
    /*width: 800px;*/
    position: relative;
    margin: 0 auto 0;
}

#left-wrapper {
    position: relative;
    margin: 0 auto 0;
    float: left;
}

#right-wrapper {
    position: relative;
    margin: 0 auto 0;
    float: right;
}

.score {
    font-size: 40px;
    width: 396px;
}

#ready-button {
    font-family: 'Archivo Narrow', sans-serif;
    width: 155px;
    height: 60px;
    bottom: 0px;
    position: relative;
    font-size: 31px;
    -webkit-text-stroke-color: black;
    background-color: #43b515;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 20px;
}

.greenthumb {
    width: 40px;
    right: 70px;
    position: relative;
}

.redthumb {
    width: 52px;
    right: 66px;
    position: relative;
}

.team-score {
    font-family: 'Roboto Slab', serif;
    font-size: 102px;
}

.score-num {
    font-size: 115px;
    /*bottom: 52px;*/
    /*position: relative;*/
}

.clock {
    position: initial;
    margin-left: 20px;
}


#right-side-title {
    left: 47px;
}

.right-side {
    left: 68px;
}

.not-turn {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.img-circle {
    border: 1px solid rgba(0, 0, 0, 0.42);
    height: 100px;
    width: 100px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    top: -13px;
    position: relative;
}

#small-throw {
    font-size: 22px;
    top: 22px;
    position: relative;
    right: 12px;
    font-family: 'Archivo Narrow', sans-serif;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-style: italic;
}

#small-word {
    position: relative;
    /* top: 0px; */
    left: 10px;
    font-size: 25px;
    font-family: 'Archivo Narrow', sans-serif;
    font-style: italic;
}



.list-group-item {
    height: 60px;
}

.black-background {
    background-color: #333333;
}

@media (max-width: 960px) {
    #game-container {
        width: 100%;
    }
}

@media (max-width: 794px) {

    #left-wrapper {
        float: none;
        height: 310px;
        margin-top: 40px;
    }

    #right-wrapper {
        float: none;
        height: 310px;
    }

    #team-one-score {
        font-size: 60px;
    }

    #team-two-score {
        font-size: 60px;
    }

    .team-score {
        font-size: 60px;
    }

    #word-container {
        float: none;

    }

    #score-row {
        height: 770px;
    }
}

