html, body{
    height: 100% ;
}

.game-container {
    background-color: rgba(36, 138, 221, 0.68);
    height: 1000px;
    border-top: 1px solid black;
}

#title1 {
    font-family: 'Archivo Narrow', sans-serif;
    font-style: italic;
    line-height: .3;
    font-size: 100px;
    padding-top: 40px;
    margin-top: 100px;
    margin-right: 400px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    color: white;
}

#title2 {
    font-family: 'Archivo Narrow', sans-serif;
    font-style: italic;
    font-size: 200px;
    margin-left: 200px;
}

#word-container {
    display: table;
    vertical-align: middle;
    margin-top: inherit;
    top: 470px;
    position: relative;
}

#word {
    background-color: silver;
    height: 0px;
}

#toggle-definitions {
    height: 40px;
    padding-top: 10px;
    float: right;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

#catchphrasecontainer {
    height: 200px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#catchphrases {
    height: 200px;
    overflow-y: scroll;
    padding-right: 40px;
}

#new-phrase-form {
    padding-top: 50px;
    border-bottom: 1px solid rgba(43, 57, 56, 0.39);
    margin-right: 30px;
    width: inherit;
    padding-bottom: 10px;

}